<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="menu-title text-center mb-5">A LA CARTA</div>
      <img
        class="img-fluid"
        src="../assets/images/alacarta.jpeg"
        alt="restaurant"
      />

      <p class="mt-3">
        “A la carta” es un restaurante que ofrece platos de gran calidad y que
        satisface a sus clientes hace más de 40 años brindando un menú variado
        que alcanza los gustos de los diferentes consumidores.
      </p>
      <p>
        Nuestro restaurante ofrece un menú digital donde podrás buscar entre
        miles de platos no veganos y veganos. Probalo ya!
      </p>
    </div>
  </div>
</div>
