* {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  padding: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.navbar-brand {
  letter-spacing: 3px;
  font-weight: 700;
}

.nav-link {
  letter-spacing: 2px;
  font-weight: 700;
}
