* {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.container-sm {
  background-color: white;

  width: 940px;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
}

.image-login {
  border-radius: 8px;
}

@media only screen and (max-width: 940px) {
  .container-sm {
    width: auto;
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.invalid {
  color: red;
}

input {
  border-radius: 18px;
  height: 2.5rem;
}

label {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-primary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  background-color: #1858429d;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  margin: 1rem 0 1rem 0;
  margin-right: 0.5rem;
  font-weight: 500;
}

.button-primary:hover:enabled {
  background-color: #5bcfa7;
  color: white;
}
