<form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="container-sm d-flex flex-column mt-5">
    <div class="row justify-content-center mt-3 mb-3 fs-2 title">
      a la carta
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center">
        <img
          class="img-fluid m-3 image-login"
          src="../assets/images/alacarta-login.jpg"
          alt="login-image"
        />
      </div>
      <div class="col-lg-6 mt-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input
            [class.is-invalid]="
              form.get('email')?.touched && form.get('email')?.invalid
            "
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
          />
          <div
            class="invalid"
            *ngIf="form.get('email')?.invalid && ngForm.submitted"
          >
            Por favor ingrese un e-mail válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Contraseña</label
          >
          <input
            [class.is-invalid]="
              form.get('password')?.touched && form.get('password')?.invalid
            "
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
          />
          <div
            class="invalid"
            *ngIf="form.get('password')?.invalid && ngForm.submitted"
          >
            Por favor ingrese una contraseña válida.
          </div>
        </div>

        <button type="submit" [disabled]="submitted" class="button-primary">
          <div *ngIf="submitted; else elseBlock">Ingresando</div>
          <ng-template #elseBlock>Ingresá</ng-template>
        </button>
      </div>
    </div>
  </div>
</form>
